body, html {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  color: #e9d985;
  background-color: #000000;
  height: 100%;
}





#encabezado {
  position: relative;
  height: 100vh;
  background: url('https://cdna.artstation.com/p/assets/images/images/082/599/202/large/pawel-randak-hastur-wallpaper.jpg?1733403670') center/cover no-repeat;
  border-bottom: 5px solid #c4ac55;
}





.menu {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  gap: 15px;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 15px;
  border-radius: 4px;
}
.menu a {
  color: #f3e5ab;
  text-decoration: none;
  font-weight: bold;
  transition: color 1.5s;
}
.menu a:hover {
  color: #ffcc00;
}





.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.titulo h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #ffe252;
  -webkit-text-stroke: 0.5px #000;
  text-shadow: 0 0 10px #f3d568;
  position: relative;
  transition: color 1s;
}
.titulo h1:hover {
  color: #2e2500;
  text-shadow: 0 0 20px #fff300, 0 0 30px #ffcc00;
}


 


.presentacion, .portfolio, .redes {
  background-color: rgba(32, 32, 32, 0.85);
  margin: 40px auto;
  padding: 20px;
  border-left: 5px solid #ad9a3c;
  border-radius: 4px;
  max-width: 1300px;
}





h2 {
  position: relative;
  font-size: 1.8rem;
  margin-bottom: 15px;
}





.redes input,
.redes textarea {
  background-color: #2c2c2c;
  border: 1px solid #c8b46a;
  padding: 10px;
  color: #f5f5f5;
  border-radius: 4px;
}
.redes button {
  background-color: #c8b46a;
  color: #1a1a1a;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.redes button:hover {
  background-color: #ffcc00;
}





.formulario {
  max-width: 800px;
  margin-left: 0px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.redes input {  
  width: 100%;
  box-sizing: border-box;
}
.formulario-full {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}
.formulario {
  flex: 1;
  min-width: 300px;
}
.imagen-contacto {
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagen-contacto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid #c8b46a;
}
.starters input {
  all: unset;
  appearance: radio;
  margin-right: 5px;
}





.decoracion-formulario {
  width: 1000px;
  height: auto;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  box-shadow: none;
  outline: none;
  background: none;
}




#pie {
  text-align: center;
  color: #ccc;
  padding: 20px;
  background: #100e0d;
  border-top: 1px dashed #555;
  font-style: italic;
}
